<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Grid | Онлайн магазин игр</title>
    <link rel="shortcut icon" href="~/images/logo-black.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gridd.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#2A6F97;">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm  box-shadow mb-3" style="background-color: #01497C; box-shadow: 0px 4px 16px 3px rgba(0, 0, 0, 0.5);">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="StartPage">
                    <img src="\images\logo.png" alt="" width="60" height="48">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="btn" style="margin: 0px 20px 0px 0px; width: 150px; height:35px; background-color: #013A63; border-radius: 10px; color:white;" data-bs-toggle="modal" data-bs-target="#loginModal" asp-area="" asp-controller="Home" asp-action="Login">Вход</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn" style="margin: 0px 20px 0px 0px; width: 150px; height:35px; background-color: #013A63; border-radius: 10px; color:white;" data-bs-toggle="modal" data-bs-target="#registerModal" style="width: 150px" asp-area="" asp-controller="Home" asp-action="Register">Регистрация</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3" style="margin-top:100px">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Наши контакты:</h5>
                    <p>
                        <strong>Телефон:</strong> 8 (999) 999-9999<br>
                        <strong>Электронная почта:</strong> Grid@gmail.com
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Наши социальные сети:</h5>
                    <p>Следите за нами в социальных сетях</p>
                    <a href="https://vk.com/Grid" target="_blank">https://vk.com/Grid</a>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Все права защищены: <a class="text-dark" href="https://vk.com/Grid">Grid</a>
        </div>
    </footer>

    <!-- Модальное окно для авторизации -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Авторизация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div class="form-group">
                            <label for="username">Логин</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">Оставаться в сети</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Register" asp-controller="Account" method="post" id="registerForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullNameUser">Никнейм</label>
                                    <input type="text" class="form-control" id="fullNameUser" name="fullNameUser" required>
                                </div>
                                <div class="form-group">
                                    <label for="nameUser">Имя</label>
                                    <input type="text" class="form-control" id="nameUser" name="nameUser" required>
                                </div>
                                <div class="form-group">
                                    <label for="patronymic">Отчество</label>
                                    <input type="text" class="form-control" id="patronymic" name="patronymic" required>
                                </div>
                                <div class="form-group">
                                    <label for="age">Возраст</label>
                                    <input type="number" class="form-control" id="age" name="age" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Телефон</label>
                                    <input type="text" class="form-control" id="phone" name="phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="addressUser">Адрес</label>
                                    <input type="text" class="form-control" id="addressUser" name="addressUser" required>
                                </div>
                                <div class="form-group">
                                    <label for="img">URL изображения</label>
                                    <input type="text" class="form-control" id="img" name="img">
                                </div>
                                <div class="form-group">
                                    <label for="email">Электронная почта</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass">Пароль</label>
                            <input type="password" class="form-control" id="pass" name="pass" required>
                        </div>
                        <div class="form-group">
                            <label for="countryId">Страна</label>
                            <select class="form-control" id="countryId" name="countryId" required>
                                <!-- Опции для выбора страны -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" form="registerForm">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
