@model IEnumerable<gridd.Models.Users>

<style>
    .block {
        position: relative;
        width: 100%;
        height: 300px; /* Установленная высота */
        margin-bottom: 80px;
        overflow: hidden; /* Обрезка содержимого, выходящего за границы */
        filter: drop-shadow(0px 5px 10px #000000);
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .video-container video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content-container {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        padding: 20px; /* Обеспечиваем немного внутреннего пространства */
        color: white; /* Цвет текста */
        overflow: visible; /* Позволяет псевдоэлементам выходить за пределы контейнера */
    }

        .content-container h2 {
            position: relative; /* Для позиционирования псевдоэлемента */
            margin: 0;
            padding: 10px 40px; /* Паддинг для текста */
            background-color: rgba(0, 0, 0, 0.5); /* Фоновый цвет для текста */
            clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%); /* Скошенный слева угол */
        }

            .content-container h2::before {
                content: "";
                position: absolute;
                top: 0;
                left: -20px; /* Смещение для создания скоса */
                width: 100%; /* Ширина псевдоэлемента */
                height: 100%; /* Высота псевдоэлемента */
                background-color: #013A63; /* Цвет фона псевдоэлемента */
                z-index: -1; /* Псевдоэлемент находится под текстом */
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Форма скошенного блока */
            }


    h2 {
        margin: 0; /* Убираем отступы */
    }

    .photo-block {
        position: relative;
        width: 100%;
        height: 250px;
        background-color: #f8f9fa;
        overflow: hidden;
        border-radius: 10px; /* Закругление всех углов */
    }

    .photo-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .photo-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px; /* Скругление кнопок */
    }

    .text-block {
        background-color: #014F86;
        color: white;
        padding: 20px;
        height: 250px;
        overflow: auto;
        border-radius: 8px;
    }

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .status {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 20px;
    }

    .online {
        background-color: #28a745;
    }

    .offline {
        background-color: #dc3545;
    }

    .btn-primary {
        border-color: #1861ac;
        background-color: #013A63;
        border-radius: 10px;
        color: white;
    }

</style>
<div class="block" style="width: 100%; overflow: hidden;">
    <div class="video-container">
        <video autoplay loop muted playsinline>
            <source src="~/tekken.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео тег.
        </video>
    </div>
    <div class="content-container">
        <h2>МЫ ОЖИДАЕМ</h2>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-9">
            <!-- Большой блок сверху -->

            <div class="row">
            </div>
            <!-- Первая строка с двумя маленькими блоками -->
            <div class="row mt-3">
                <div class="col-6">
                    <div class="photo-block">
                        <img src="~/images/tekken.jpg" alt="Photo" class="photo-img" />
                        <button class="btn btn-primary photo-button">Перейти на страницу</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-block">
                        Tekken 8 — это компьютерная игра в жанре файтинг, разработанная японской командой Tekken Project Team и выпущенная 26 января 2024 года японским издателем Bandai Namco Entertainment.
                        Это восьмая игра в серии Tekken и вторая, которая работает на движке Unreal Engine.
                        В игре представлено 32 играбельных персонажа, из которых 29 вернувшихся и 3 — новые.
                    </div>
                </div>
            </div>
            <!-- Вторая строка с двумя маленькими блоками -->
            <div class="row mt-3">
                <div class="col-6">
                    <div class="text-block">
                        Baldur’s Gate III — эпическая история в духе любой D&D -кампании, где герои проходят путь от безымянных искателей приключений до существ, способных изменить мир или разрушить его до основания. Порой игра становится комичной и напоминает о знаменитом юморе Larian, иногда вызывает слёзы и сопереживание, страх за героев или отвращение к своей персоне.
                    </div>
                </div>
                <div class="col-6">
                    <div class="photo-block">
                        <img src="~/images/baldur.jpeg" alt="Photo" class="photo-img" />
                        <button class="btn btn-primary photo-button">Перейти на страницу</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="photo-block">
                        <img src="~/images/valheim.jpg" alt="Photo" class="photo-img" />
                        <button class="btn btn-primary photo-button">Перейти на страницу</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-block">
                        Valheim — это симулятор выживания, вдохновленный культурой викингов. Игроки оказываются в сказочном мире, разделенном на биомы. Герой в лохмотьях начинает свое приключение с поколачивания дерева кулаками для добычи ресурсов, а заканчивает великим воином в шикарной броне из шкуры волка — с собственным средневековым замком, фермой и парочкой личных драккаров.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="list-group" style="background-color: #01497C">
                <!-- Перечисление друзей -->
                @foreach (var user in Model)
                {
                    <li class="list-group-item d-flex align-items-center">
                        <img src="@user.Img" alt="Аватар" class="avatar">
                        <div class="ml-3">
                            <h6 class="mb-0">@user.FullNameUser</h6>
                            <small>@user.Id</small>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>